@font-face {
    font-family: 'Script12';
    src: url('../fonts/script12.ttf');
    font-stretch: extra-expanded;
}

@font-face {
    font-family: 'Fontin-Regular';
    src: url('../fonts/Fontin-Regular.otf')
}

@font-face {
    font-family: 'Fontin-Bold';
    src: url('../fonts/Fontin-Bold.otf')
}

@font-face {
    font-family: 'Fontin-Italic';
    src: url('../fonts/Fontin-Italic.otf')
}

@font-face {
    font-family: 'Fontin-SmallCaps';
    src: url('../fonts/Fontin-Smallcaps.otf')
}

@font-face {
    font-family: 'Delicious-SmallCaps';
    src: url('../fonts/Delicious-Smallcaps.otf')
}

@font-face {
    font-family: 'Delicious-Roman';
    src: url('../fonts/Delicious-Roman.otf')
}


body {
    background: #272C32;
    color: #FFFFFF;
    font-family: 'Delicious-Roman';
}

em {
    color: #FADB03;
}

a {
    color: #7CBFE5;
    background-color: #3A4556;
    text-decoration-skip: ink;
    font-family: 'Fontin-Italic'
}

a:hover {
    background: #4E5B6F;
}


h1 {
    color: #E27D60;
    font-family: 'Script12';
}

h2 {
    color: #84CEEB;
}

h3 {
    color: #E8A87C;
}

h4 {
    color: #C38D9E;

}

h5 {
    color: #41B3A3;
}

h6 {
    color: #ffffcc
}

/* pre {
    margin: 0;
    padding: 0.2em;
    background: #fff;
    color: #000;
    font-weight: normal;
}

pre em {
    color: #000;
    background: yellow;
} */