@font-face {
    font-family: 'Script12';
    src: url('../fonts/script12.ttf');
    font-stretch: extra-expanded;
}

@font-face {
    font-family: 'Fontin-Italic';
    src: url('../fonts/Fontin-Italic.otf')
}

@font-face {
    font-family: 'Delicious-Roman';
    src: url('../fonts/Delicious-Roman.otf')
}

@font-face {
    font-family: 'Hylia';
    src: url('../fonts/HyliaSerifBeta-Regular.otf')
}

@font-face {
    font-family: 'ATCKrueger';
    src: url('../fonts/ATC\ Krueger\ Bold.otf')
}

@font-face {
    font-family: 'Serpentine';
    src: url('../fonts/SerpentineDBol.ttf')
}


body {
    background: #272C32;
    color: #FFFFFF;
    font-family: 'Delicious-Roman';
}

em {
    color: #FADB03;
}

a {
    color: #7CBFE5;
    background-color: #3A4556;
    text-decoration-skip: ink;
    font-family: 'Fontin-Italic'
}

a:hover {
    background: #4E5B6F;
}


h1 {
    color: #d4ce46;
    font-family: 'Hylia';
}

h2 {
    color: #f0221c;
    font-family: 'ATCKrueger';
}

h3 {
    color: #F7A541;
    font-family: 'Serpentine';
}

h4 {
    color: #a4142d;
    font-family: 'Script12';
    /* font-size: 95%; */

}

h5 {
    color: #c87281;
}

h6 {
    color: #d18996;
}

pre {
    margin: 0;
    padding: 0.2em;
    background: #fff;
    color: #000;
    font-weight: normal;
}

pre em {
    color: #000;
    background: yellow;
}